# Build output
dist/
build/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.production

# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/

# Ignore image files everywhere...
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg

# ...except in src/assets/ and public/
!src/assets/**
!public/**
# Ignore all other files in src/assets/ and public/
src/assets/*
public/*