# Build output
dist/
build/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.production

# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/

# Ignore all images except those in the public/ folder
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
!public/**
