# Build output
dist/
build/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.production

# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/

# Ignore image files everywhere...
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg

# ...except in src/assets/ and public/
!src/assets/**/*.png
!src/assets/**/*.jpg
!src/assets/**/*.jpeg
!src/assets/**/*.gif
!src/assets/**/*.webp
!src/assets/**/*.svg
# Ignore all .astro files
*.astro
# ...except in src/pages/
!src/pages/**/*.astro
# Ignore all .md files
*.md