---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Book-loving freaky writer who's deeply obsessed with a certain VTuber cat."
	pubDate={new Date('August 08 2021')}
>
	<p>
		Hey there. I'm just a quiet soul with a loud obsession—especially when it comes to VTubers. My absolute favorite is <strong>Vestia Zeta</strong>, a chaotic little cat who lives rent-free in my mind. Not gonna lie, I'm into the freakier side of fandoms, and yeah... Zeta That's the kind of mental fanservice I live for.
	</p>

	<p>
		Apart from being a total simp for fictional waifus, I'm also a full-time <strong>bookworm</strong>. I love collecting books of all kinds—fantasy, dark romance, horror, and the kind of psychological stuff that messes with your head. My bookshelf is my treasure chest.
	</p>

	<p>
		When I'm not drooling over my favorite VTuber or buried in novels, I'm probably writing my own stories. Fiction is my escape and my playground. I love building strange little worlds, giving life to messy characters, and just letting my freak flag fly through words.
	</p>

	<p>
		So yeah, if you're into cute chaos, beutiful personality, and reading until 3AM, we probably have a lot in common.
	</p>
</Layout>
